@model PassionProject_N01540458.Models.ViewModels.DetailsRecipe
@{
    ViewBag.Title = "Details";
}

<h2>Details for the selected recipe</h2>
<a href="/Recipe/List">Go back</a>
<br />
<a href="/Recipe/Edit/@Model.SelectedRecipe.RecipeId">Update recipe</a>
<br />
<a href="/Recipe/DeleteConfirm/@Model.SelectedRecipe.RecipeId">Delete this recipe</a>

<h3>Recipe Name: @Model.SelectedRecipe.RecipeName</h3>
<h5>Recipe Description: @Model.SelectedRecipe.RecipeDescription</h5>

<div>
    <h3>List of food items included in this recipe - </h3>
    @foreach (var item in Model.ContainedFoodItems)
    {
        <a href="/FoodItem/Details/@item.FoodItemId">@item.FoodItemName</a> 
        <a style="color:#ab2020;" href="/Recipe/UnAssociate/@Model.SelectedRecipe.RecipeId?FoodItemId=@item.FoodItemId">[x]</a><br />
    }

    <div>
        <h4>Add new Food item to @Model.SelectedRecipe.RecipeName</h4>
        <form method="POST" action="/Recipe/Associate/@Model.SelectedRecipe.RecipeId">
            <select name="FoodItemId">
                @foreach (var item in Model.AvailableFoodItems)
                {
                    <option value="@item.FoodItemId">@item.FoodItemName</option>
                }

            </select>
            <input type="submit" value="Associate Food item" />
        </form>
    </div>

</div>
